c++/build/
c++/.idea/
.idea/
c++/cmake-build-*/
c++/src/cxxopts.hpp
c++/src/nanoflann.hpp
python/__pycache__/
python/check/
julia/check/
python/simpleicp.egg-info/
python/dist/
python/simpleicp/__pycache__/
octave/check/
octave/octave-workspace
python/build/
rust/
python/debug/