.idea/
c++/.idea/
c++/build/
c++/cmake-build-*/
c++/src/cxxopts.hpp
c++/src/nanoflann.hpp
julia/check/
octave/check/
octave/octave-workspace
python/__pycache__/
python/build/
python/check/
python/debug/
python/dist/
python/simpleicp.egg-info/
python/simpleicp/__pycache__/
python/simpleicp/tests/__pycache__/
rust/
